@*@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv*@
@using TestTaskCrawler.Models;
@model TestTaskCrawler.Models.Account

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = ("login-form") }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <input name="__RequestVerificationToken" type="hidden" value="kmtx57HZPfVpYL2WO2G4qNZKDkJ_WxchdSt26Il4JsAfkjG6RjOUOK65fe7YGS3HlklbY15kBIHXgECfxkwBgYGZogThMfkIjsuwdvZa56R4vu3uiKgarjSVzW_1dAfGM2QkcmujSwfU4v_O7b7zTlQyOCpbARLCBTbKBUdZBok1">

        <div class="row center">
            <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control center", @placeholder = "Email Address" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control center", @placeholder = "Password"})
            @Html.ValidationMessageFor(model => model.Password)
            <a class="forgotPassword center" href="Home/ResetPassword">Forgot Password?</a>

        </div>
        <div class="row button-group">
            <button class="btn btn-primary center" data-style="expand-left" data-spinner-size="25" onclick="myFunction()">LOG IN</button>
        </div>
        <br />
        <div class="form-group center">
            New to Crawler? <a href="Home/Signup">Create Account</a>
        </div>
    }

</div>

<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
