@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using TestTaskCrawler.Models;
@model TestTaskCrawler.Models.Account


<div class="container" id="login-wrapper">

    <div class="text-center">
        <h1 class="display-4">Search Products</h1>
        <img src="~/images/searchIcon.PNG" class="center" />
    </div>

    @*@using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {*@
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <table id="assets-data-table"
           class="table table-striped table-bordered"
           style="width:100%">
        <thead colspan="2" align="center">Person Details</thead>
        <thead>
            <tr>
                <th>Address</th>
                <th>Name</th>
                <th>Description</th>
                <th>Condition</th>
                <th>Price</th>
                <th>ShippingPrice</th>
                <th>ImagePath</th>
                <th>LastViewed</th>
                <th>BackgroundPageColor</th>
            </tr>
        </thead>
        <tbody>
            @if (this.Model.Products.Count > 0)
            {
                foreach (Product item in this.Model.Products)
                {
                    <tr>
                        <td>@item.Address</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Condition</td>
                        <td>@item.Price</td>
                        <td>@item.ShippingPrice</td>
                        <td>@item.ImagePath</td>
                        <td>@item.LastViewed</td>
                        <td>@item.BackgroundPageColor</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    }
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable();
        });
    </script>
}
